@import '../../styles/variables.scss';

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: all 0.3s ease;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 0.3s ease;
}

.results {
  width: 100%;
  transition: all 0.3s ease;
}

.no-results {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  margin-top: 40px;
}

.no-results-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.no-results-image {
  height: 400px;
}

.no-results-text,
.no-results-title {
  color: rgb(191, 234, 155);
}

.no-results-title {
  font-size: 2.2rem;
}

.no-results-text {
  font-size: $font-size-heading;
}