:root {
--background: black;
--background-image: url('../../assets/background.jpg');
--base-color: black;
--main-text-color: white;
--box-shadow: 0 0 50px -10px #5750ea;
--box-shadow-detailed: 0 0 50px 0 #50ea9b;
}