:root {
  --background: #D5D5D5;
  --background-image: url('../../assets/background-light.jpg');
  --base-color: white;
  --main-text-color: black;
  --box-shadow: 0 0 50px -10px #060606;
  --box-shadow-detailed: 0 0 50px -10px #060606;
}