@import '../../styles/variables.scss';

.results {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.results-image {
  margin-left: 50px;
  width: 340px;
}

.characters-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  box-sizing: border-box;
  margin-left: -30px;
}

.character {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 50px 0 #5750ea;
  color: white;
  min-width: 150px;
  min-height: 200px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: black;
}

.character p {
  margin: 5px;
}

.character-name {
  font-family: $font-family-heading;
  color: yellow;
  font-size: $font-size-heading;
}