$font-family-base: "Lato", sans-serif;
$font-family-heading:"Orbitron", sans-serif;
$font-size-base: 1.6rem;
$font-size-heading: 1.8rem;
$font-size-small: 1.4rem;
$font-size-bigger-heading: 2.2rem;

$accent-color: yellow;

$button-hover-box-shadow-light: 0 0 5px rgb(205, 198, 198);

@mixin hoverLink {
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}