@import '../../styles/variables.scss';

.search {
  display: flex;
  align-items: center;
  padding: 15px;
  max-width: 200px;
  margin-left: 110px;
}

.search-input {
  flex: 1;
  padding: 6px;
  font-size: 16px;
  border: 2px solid #00BFFF;
  border-radius: 20px;
  outline: none;
  box-shadow: var(--search-input-shadow);
  background-color: var(--base-color);
  color: var(--main-text-color);
}

.search-button {
  background: none;
  margin-left: -35px;
  padding: 8px 0px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: $font-family-base;
  font-size: $font-size-base;
}

.search-image {
  width: 22px;
  height: 22px;
}