.pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pageButton {
  border: none;
  background-color: rgb(48, 46, 46);
  color: white;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;

  &:hover {
    box-shadow: 0 0 10px 3px rgba(8, 112, 248, 0.8);
  }

  &.activePage {
    background-color: transparent;
    color: white;
    &:hover {
      box-shadow: none;
    }
  }
}