.pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pageButton {
  border: none;
  background-color: var(--pagination-button);
  color: var(--pagination-text-color);
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;

  &:hover {
    box-shadow: var(--pagination-box-shadow);
  }

  &.activePage {
    background-color: transparent;

    &:hover {
      box-shadow: none;
    }
  }
}