@import '../../styles/variables.scss';

.flyout {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-base;
}

.flyout-download-btn,
.flyout-unselect-btn{
  margin: 0 10px;
  padding: 10px 20px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.flyout button:hover {
  box-shadow: $button-hover-box-shadow-light;
}

.flyout-counter {
  font-size: $font-size-small;
  padding: 5px;
  margin: 0 0 0 10px;
  width: 120px;
}